<!DOCTYPE html>
<html ng-app='agBlog'>
<head>
  <title>ng-Wikiful</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" ng-controller="articlesCtrl" ng-init="getData()">
	<div class="row">
		<h2>ng-Wikiful</h2>	
		<div class="col-sm-2">
			<h3>Articles</h3>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="article in articles" ng-click="showArticle(article)">
					{{article.title}}
				</li>
			</ul>
		</div>
		<div class='col-sm-6'>
			<h3>{{activeArticle.title}}</h3>
			<p>{{activeArticle.body}}</p>
			<button ng-if="activeArticle" ng-click="deleteArticle(activeArticle)" class="btn btn-danger">Delete! no undos!</button>
		</div>

		<div class="col-sm-4">
			<button class="btn btn-sm btn-primary" ng-if="activeArticle" ng-click="resetForm()">Reset Form</button>
			<form name="newArticleForm" ng-submit="newArticleForm.$valid && postArticle()" novalidate>
				<label>Article Title</label>
				<input type="text" ng-model="activeArticle.title" name="articleTitle" class="form-control" required>
				<label>Body</label>
				<textarea name="articleBody" rows='12' ng-model="activeArticle.body" class="form-control" required></textarea>
				<input type="submit" class="btn btn-primary" value="Post it!">
			</form>
		</div>
	</div><!--row-->
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
</body>
</html>
