<!DOCTYPE html>
<html ng-app='ngWikiful'>
<head>
  <title>ng-Wikiful</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h2>ng-Wikiful</h2>
  <a href="#/" class="btn btn-primary">Home</a>
  <a href="#/signup" class="btn btn-primary">Signup</a>
  <a href="#/signin" class="btn btn-primary">Signin</a>
  
  <div ng-view></div>
  
</div>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
</body>
</html>
