<!DOCTYPE html>
<html ng-app='ngWikiful'>
<head>
  <title>ng-Wikiful</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h2>ng-Wikiful</h2>
     
  <a href="#/" class="btn btn-primary">Home</a>
  <div id="sessions" ng-controller="sessionsCtrl" ng-init="checkIfSession()">
    <a href="#/signin" ng-if="!authUser.email" class="btn btn-primary" >Signin</a>
    <button class="btn btn-primary" ng-if="authUser.email" ng-click="signOut();">Signout</button>
    <a href="#/signup" ng-if="!authUser.email" class="btn btn-primary">Signup</a>
  </div>
  
  <div ng-view></div>
  
</div>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
</body>
</html>
