<!DOCTYPE html>
<html ng-app='ngWikiful'>
<head>
  <title>ng-Wikiful</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" ng-controller="articlesCtrl" ng-init="getArticles">
	<div class="row">
		<h2>ng-Wikiful</h2>	
		<div class="col-sm-2">
			<h3>Articles</h3>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="article in articles" ng-click="showArticle(article)">
					{{article.title}}
				</li>
			</ul>
		</div>
		<div class='col-sm-6'>
      <div class='loadingSpinner' ng-if="loading"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
			<div class="singleArticle" ng-if="activeArticle">
				<h3>{{activeArticle.title}}</h3>
				<p>{{activeArticle.body}}</p>
				<h5>Categories:</h5>
				<p> <span ng-repeat="category in activeArticle.categories">{{category.name}} </span></p>
				<button ng-if="activeArticle.id" ng-click="deleteArticle(activeArticle)" class="btn btn-danger">Delete! no undos!</button>
			</div>
		</div>

		<div class="col-sm-4">
			<button class="btn btn-sm btn-primary" ng-if="activeArticle" ng-click="resetForm()" ng-init="getCategories">Reset Form</button>
			<form name="newArticleForm" ng-submit="newArticleForm.$valid && postArticle()" novalidate>
				<label>Article Title</label>
				<input type="text" ng-model="activeArticle.title" name="articleTitle" class="form-control" required>
				<label>Body</label>
				<textarea name="articleBody" rows='12' ng-model="activeArticle.body" class="form-control" required></textarea>

				<label>Categories</label>

				<select multiple="true" ng-model="activeArticle.categories" style="width:200px;"
				ng-options="category as category.name for category in categories track by category.id">
				</select><br/>
				<input type="submit" class="btn btn-primary" value="Post it!">
			</form>
		</div>
	</div><!--row-->
  <div class="row">
    <div class="col-md-4" ng-controller="userCtrl">
      <h3>Signup</h3>
      <form name='registrationForm' ng-submit="registrationForm.$valid && signUp(user)" novalidate>
        <label>Username</label>
        <input type="text" ng-model="user.name" name="userName" class="form-control" required>
        <label>email</label>
        <input type="email" ng-model="user.email" name="email" class="form-control" required>
        <label>password</label>
        <input type="password" ng-model="user.password" name="password" class="form-control" required>
        <label>password confirmation</label>
        <input type="password" ng-model="user.passwordConfirmation" name="passwordconfirmation" class="form-control" required>
        <input type="submit" name="signup" class="btn btn-primary" value="Sign up">

      </form>
      <div class='col-md-4'>
        {{user.name}} | {{user.email}} | {{user.password}} | {{user.passwordConfirmation}}
      </div>
    </div>
  </div>
</div>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
</body>
</html>
