<!DOCTYPE html>
<html ng-app='ngWikiful'>
<head>
  <title>ng-Wikiful</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" ng-controller="articlesCtrl" ng-init="getArticles">
	<div class="row">
		<h2>ng-Wikiful</h2>	
		<div class="col-sm-2">
			<h3>Articles</h3>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="article in articles" ng-click="showArticle(article)">
					{{article.title}}
				</li>
			</ul>
		</div>
		<div class='col-sm-6'>
			<div class="singleArticle" ng-if="activeArticle">
				<h3>{{activeArticle.title}}</h3>
				<p>{{activeArticle.body}}</p>
				<h5>Categories:</h5>
				<p> <span ng-repeat="category in activeArticle.categories">{{category.name}} </span></p>
				<button ng-if="activeArticle.id" ng-click="deleteArticle(activeArticle)" class="btn btn-danger">Delete! no undos!</button><button ng-click="gimmeIds(activeArticle.categories)">gimme json</button>
				<p ng-if="jsonData">{{jsonData}}</p>
			</div>
		</div>

		<div class="col-sm-4">
			<button class="btn btn-sm btn-primary" ng-if="activeArticle" ng-click="resetForm()" ng-init="getCategories">Reset Form</button>
			<form name="newArticleForm" ng-submit="newArticleForm.$valid && postArticle()" novalidate>
				<label>Article Title</label>
				<input type="text" ng-model="activeArticle.title" name="articleTitle" class="form-control" required>
				<label>Body</label>
				<textarea name="articleBody" rows='12' ng-model="activeArticle.body" class="form-control" required></textarea>

				<label>Categories</label>

				<select multiple="true" ng-model="activeArticle.categories" style="width:200px;"
				ng-options="category as category.name for category in categories track by category.id">
				</select><br/>
				<input type="submit" class="btn btn-primary" value="Post it!">
			</form>
		</div>
	</div><!--row-->
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
</body>
</html>
